@media screen and (max-width:480px) {
    .container {
            width: 100%;
        }
        .wrapper {
            width: 100%;
/*            margin: auto;*/
        }
        .wrapper-s {
            width: 90%;
            margin: auto;        
        }
     
        .col-3 {
            width: 100%;
            padding: 15px;
/*            float: left;*/
        }
        .col-4 {
            width:100%;
            padding: 15px;
/*            float: left;*/
        }
        nav .logo {
/*            float: left;*/
            text-align: center;
            letter-spacing: 5px;
            font-weight: 700;
            line-height: 70px;
            font-size: 18px;
            }
        nav .menu {
/*            float: right;*/
        }
        nav .menu li {
/*            float: left;*/
            list-style: none;    
        } 
        nav .menu a {
            display: block;
            text-decoration: none;
            color: #000;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 14px;
            line-height: 70px;
            transition: background .5s,color .2s .2s ;
        }
        nav .menu a:hover {
            color: #ffffff;
            background-color: rgba(127, 255, 212, 0.96);
        }
        header {
            background-image: url(images/009.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            text-align: center;
            height: 400px;
            display: table;
        
        }
        header .wrapper{
            display: table-cell;
            vertical-align: middle; 
        }
        header .wrapper-s {
/*            background-color: aliceblue*/
        }
        header h1 {
            font-size: 28px;
            letter-spacing: 5px;
        }
        #works {
            padding-top: 150px;
            padding-bottom: 150px;
            text-align: center;
        }
        #works p {
            margin-top: 15px;
        }
        #banner {
            background-color: rgba(248, 234, 214, 0.31);
            background-size: cover;
            height: 300px;
        }     
        #works2 {
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;
        }
        #service {
            text-align: center;
            padding-top: 150px;
            padding-bottom: 150px;    
        }
        #service .wrapper:nth-of-type(1) {
            text-align: center
        }
        #service .wrapper:nth-of-type(1) p {
            margin-top: 30px;
        }
        #service h3 {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        #buy{width: 200px;height: 30px;border-style:inset;color: white;
            margin: auto;padding-top: 5px;
        }
        #banner-2{
            background-color: gainsboro;
            height: 400px;
        }
        #about{
            text-align: center;
            padding-top: 150px;
            padding-bottom: 150px;
            
        }
        #about .name{
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        #about .job{
            font-size: 10px;
        }
        #about p{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        #purchase{
            background-color: black;
            color: #fff;
            padding-top: 100px;
            padding-bottom: 100px;
            text-align: center;
        }
        #purchase .display{
            font-size: 2em;
            margin-bottom: 20px;
            font-weight: 300;
        }
        #purchase a{
            display: block;
            width: 95%;
            margin: auto;
            background-color: aquamarine;
            color: #fff;
            border: 1px solid #fff;
            padding: 10px 20px;
            text-decoration: none;
        }
        
        #news{
            padding-top: 150px;
            padding-bottom: 150px;
        }
        #news p{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #news .wrapper:nth-of-type(1){
            text-align: center;
        }
        #news .photo {
            position: relative;
        }
        #news .photo .date{
            position: absolute;
            top:0;left:0;
            background-color: #000;
            width: 50px;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 12px;
            color: aliceblue;
        }
        #news h4{
            text-align: center;
            margin-top: 50px;
        }
        #news .wrapper:nth-of-type(2) p{
            margin-top:20px;margin-bottom: 20px;
        }
        #news a{
            text-decoration: none;color: brown;
            font-size: 14px;
        }
        #sponsor{
            text-align: center;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: #000;
            color: #7b7b7b;
            font-size: 0;
        }
        #sponsor .brand {
            display: inline-block;
            width:calc(100%/3);
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 16px;
        }
        #contact{
            padding-top: 150px;
            padding-bottom: 150px;
        }
        #contact .wrapper:nth-of-type(1){
            text-align: center;
        }
        #contact p:nth-of-type(1){
            margin-top: 30px;
            margin-bottom: 30px;  
        }
        #contact .item{   
            margin-top: 45px;    
        }
        #contact .info{
            width: 100%;
            text-align: center;
/*            float: left;*/
        }
        #contact .info h3{
            letter-spacing: 4px;
            text-align: center;
        }
        #contact .info li{
            list-style: none;
            line-height: 2em;
        }
        #contact .info .icon{
/*            float: left;*/
            width: 100%;
            color: #a8a8a8;
            margin-bottom: 20px;
        }
        
        #contact .info .content{
/*            float: left;*/
            width: 100%;
            color: #a8a8a8;
            
        }
        #contact .form{
            width: 100%;
            margin-top: 50px;
/*            float: left*/
            
        }
        .col-2{
            width: 100%;
            padding: 15px;
/*            float: left;*/
        }
        .col-1{
            width: 100%;
            padding: 15px;
        }
        #contact .form input[type=text]{
            width: 100%;padding:15px;
        }
        #contact .form textarea {
            width: 100%;
            margin-top: 15px;
        }
        #contact .form button {
            width:100% ;
            padding-top: 15px;
            padding-bottom: 15px;
            letter-spacing: 2px;
            border: 0;
            background-color: #45be95;
            color: aliceblue;
        }
        footer{
            padding-top: 150px;
            background-color: #000;
            color: #fff;
            text-align: center;
        }
        footer .logo{
            font-size: 2em;
            letter-spacing:2px; 
        }
        footer .social{
            margin-left: 20x;
            margin-right: 10px;
            color: #000;
            margin-top: 30px;
            margin-bottom: 150px
        }
        footer .social a{
            text-decoration: none;
            color: :#a8a8a8;
            margin-left: 20px;
            margin-right: 20px;
        }
        footer .copy {
            padding-top: 30px;
            padding-bottom: 30px; 

        }
}